<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'admin_dashboard' %}">
            <i class="fas fa-tachometer-alt me-2"></i> Dashboard
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'teacher_list' %}">
            <i class="fas fa-chalkboard-teacher me-2"></i> Teachers
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'student_list' %}">
            <i class="fas fa-user-graduate me-2"></i> Students
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'subject_list' %}">
            <i class="fas fa-book me-2"></i> Subjects
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'section_list' %}">
            <i class="fas fa-users me-2"></i> Sections
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'schedule_list' %}">
            <i class="fas fa-calendar-alt me-2"></i> Schedules
        </a>
    </li>
</ul>